<div class="sky-video-list" ng-class="{SingleVideoPicker: config.list.limit == 1, MultiVideoPicker: config.list.limit != 1}">
    <div>
        <div class="sky-video-list-item videopicker-{{item.type}}" ng-repeat="item in shadowValue.items" ng-class="{loading: item.loading}">
            <div class="sky-video-title">
                <div>
                    {{item.title || item.details.title || 'Video #' + ($index + 1)}}
                </div>
                <div ng-show="config.list.limit != 1">
                    <div class="umb-tools">
                        <div class="umb-control-tool">
                            <i class="icon-trash" ng-click="togglePrompt(item)"></i>
                            <umb-confirm-action ng-if="item.$deletePrompt" direction="left" on-confirm="removeItem($index)" on-cancel="hidePrompt(item)" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="sky-video-content">
                <sky-video value="item" config="itemConfig" />
            </div>
        </div>
        <a class="sky-video-list-add" href="#" prevent-default ng-click="addVideo()" ng-show="config.list.limit == 0 || config.list.limit > shadowValue.items.length">
            <localize key="skyVideoPicker_addVideo">Add video</localize>
        </a>
    </div>
</div>