<div class="sky-video" ng-class="{loading: loading}">
    <div>
        <div ng-show="mode == 'url'">
            <label>
                <div>
                    <strong style="font-size: 12px; text-transform: uppercase;">URL</strong>
                    <a href="#" prevent-default ng-click="update()" ng-show="value.url && !loading" style="font-size: 12px; padding-left: 3px;">
                        <i class="icon icon-refresh"></i>
                    </a>
                </div>
                <input type="text" ng-model="value.url" ng-change="update()" placeholder="Enter the URL of the video here..."/>
            </label>
        </div>
        <div ng-show="mode == 'embed'">
            <label>
                <div>
                    <strong style="font-size: 12px; text-transform: uppercase;">Embed code</strong>
                    <a href="#" prevent-default ng-click="update()" ng-show="value.embed && !loading" style="font-size: 12px; padding-left: 3px;">
                        <i class="icon icon-refresh"></i>
                    </a>
                </div>
                <textarea ng-model="value.embed" ng-change="update()" rowspan="7"></textarea>
            </label>
        </div>
    </div>
    <div ng-show="!!value.details" style="margin-top: 10px;">
        <div class="option sky-video-thumbnails">
            <div class="sky-video-thumbnail">
                <strong style="font-size: 12px; text-transform: uppercase;">
                    <localize key="skyVideoPicker_thumbnailFrom">Thumbnail from</localize>
                    {{typeName}}
                </strong><br />
                <img ng-show="value.type == 'vimeo'" ng-src="{{value.details.thumbnails[1].url.replace('200x150', '320x180')}}" />
                <img ng-show="value.type == 'youtube'" ng-src="{{value.details.thumbnails[1].url}}" />
                <img ng-show="value.type == 'twentythree'" ng-src="{{value.details.$thumbnail.url}}" />
            </div>
            <div ng-show="error" style="margin-top: 10px;">
                <div class="alert alert-danger">{{error}}</div>
            </div>
            <div class="sky-video-thumbnail umb-thumbnail">
                <strong style="font-size: 11px; text-transform: uppercase;">
                    <localize key="skyVideoPicker_thumbnailFrom">Thumbnail from</localize> Umbraco
                </strong><br />
                <a ng-hide="thumbnail" href="#" prevent-default class="placeholder" ng-click="addThumbnail()">
                    <i class="icon icon-add"></i>
                </a>
                <div ng-show="thumbnail">
                    <img ng-src="{{thumbnailUrl}}" width="320" height="180" style="height: 180px; width: 320px;" />
                    <div class="actions">
                        <a class="action" href="#" prevent-default ng-click="removeThumbnail()">
                            <i class="icon icon-delete red"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="load-indicator">
        <umb-load-indicator ng-show="loading"></umb-load-indicator>
    </div>
    <umb-overlay ng-if="mediaPickerOverlay.show" model="mediaPickerOverlay" position="right" view="mediaPickerOverlay.view"></umb-overlay>
</div>